/* HOME PAGE */
/* carrusel */
.orbit-container > .orbit-slide > .orbit-image{
    height: 800px;
    object-fit: cover;
}
/* texto bienvenida */
.bloqueBienvenida > .textoBienvenida  {
    font-size: 36px;
    text-align: center;
    margin-top: 3%;
}

/* HEADER */
header > .top-bar > .top-bar-left > .dropdown > .home > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* CARD */
.card{
    width: 300px;
    margin-top:15px;
}